<app-titre-page [titrePage]="'Solutionnaire'"></app-titre-page>
<a target="_blank" href="https://adventofcode.com/">Accéder aux énoncés</a>
<div class="mt-50">
  <ng-container *ngIf="estListeAdventOfCodeAffiche;else alertInfo">
    <div *ngFor="let adventOfCode of listeAdventOfCode; let i = index">
      <app-accordion [adventOfCode]="adventOfCode" [index]="i"></app-accordion>
    </div>
  </ng-container>
  <ng-template #alertInfo>
    <app-alert-info [message]="messageInfo"></app-alert-info>
  </ng-template>
</div>

